{{- $services := partials.IncludeCached "data/service-maturity" . }}

<table>
    <thead>
        <tr>
            <th>Service</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        {{- range $k, $v := $services }}
        <tr>
            <td><a href="#{{ $k }}">{{ $k }}</a></td>
            <td>{{ $v.level }}</td>
        </tr>
        {{- end }}
    </tbody>
</table>
